entrypoint = "index.html"

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[env]
PORT = "5000"

[run]
command = "static-web-server --root . --host 0.0.0.0 --port $PORT --spa index.html"

[[ports]]
localPort = 5000
externalPort = 5000
portType = "http"
